<p>Server Name</p>
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{ serverName }}</p> -->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>
  Add Server
</button>
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>
<app-server></app-server>
<input class="form-control" [(ngModel)]="username" />
<p>Username is: {{ username }}</p>
<button
  class="btn btn-secondary"
  [disabled]="username === ''"
  (click)="resetUsername()"
>
  Reset User
</button>
